header {
  background-image: url('./mexican-header.png');
  height: 15rem;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  margin: auto;
  padding: 1rem;
  color: black;
}

p {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

form {
  margin: 1.5rem;
}

ul {
  list-style-type: none;
}

.filling-list-item, .total {
  width: 40%;
  margin: 0 auto;
}

.filling-list-item {
  padding: 10px;
}

.filling-list-item li {
  margin-bottom: 0.5rem;
}

.filling-list-item {
  display: flex;
  justify-content: space-between;
}

.filling-list-item label {
  vertical-align: text-bottom;
  margin-left: 0.2rem;
}

.total-section {
  margin-top: 1rem;
}

.separate-total-from-filling {
  border-bottom: 1px solid black;
  margin: 0 auto;
  width: 42%;
  padding-top: 1rem;
}